.experiencia {
  margin-top: 28px;
}

.icons {
  display: flex;
  justify-content: center;
}

.horitzontalScroll {
  min-width: 100%;
  min-height: 100px;
  display: flex;
  overflow-x: auto;
  padding: 8px;
}

.card {
  border-color: rgb(255, 255, 255);
}

.horitzontalScroll img {
  margin-left: 16px;
  padding: 8px;
  width: 84px;
  height: 78px;
}

#carousel-1 img {
  border-radius: 24px;
  max-width: 100%;
  max-height: 391.5px;
}

