.introducao {
  background: #000000;
  height: 268px;
  border-bottom-left-radius: 48px;
  display: flex;
  align-items: center;
}

section h1 {
  color: #E4E8EC;
  font-size: 32px;
  font-weight: bold;
}

.eu {
  display: flex;
  justify-content: center;
  align-items: center;
}

